$iphone-width: 414px


.filter-selectors
  padding: 15px
  // background-color: #89ffba
  .local-settings
    // background-color: khaki
    width: 100%
    display: flex
    justify-content: space-around
    margin: 0px 0px
  .item
    // background-color: pink
    height: 100%
    padding: 17px 5px
    margin: 3px
    flex-basis: 100%
    display: flex
    justify-content: center
    align-items: center
    .option-label
      font-size: 14px
      margin: 0px 4px
      flex-basis: 97px
    .option-icons
      margin: 0 10px
      flex-basis: 24px
    .option-selectors
      #inputState
        border-radius: 0px
        -webkit-appearance: none
      flex-basis: 40%
      margin-left: 15px
    .slider-container
      flex-basis: 50%
      height: 100%
      position: relative
      display: flex
      flex-direction: column
      .price-label
        position: absolute
        font-size: 14px
        font-weight: 500
        top: 20px
      #max-range
        right: 0px


// Setting Wrap depending on devices
@media (max-width: $iphone-width)
  .local-settings
    flex-direction: row
    flex-wrap: wrap
