$iphoneSize: 414px

.result-container
  background-color: khaki
  padding: 5px
  display: flex
  justify-content: space-around
  align-items: center
  .listing-container
    background-color: pink
    padding: 10px
    .card
      width: 18rem
      .card-body
        padding: 10px
        background-color: #d1feff
        .card-title
          margin-bottom: 0px
          font-size: 16px
          font-weight: 600
        .date-info
          font-size: 12px
          font-weight: 300
          color: #ccc
