$iphone-width: 414px

.result-container
  // background-color: khaki
  padding: 5px
  display: flex
  justify-content: space-evenly
  align-items: center
  .listing-container
    // background-color: pink
    padding: 10px
    margin: 5px 10px
    flex-basis: 45%
    .card
      width: 100%
      max-height: 300px
      border-color: #f1f1f1
      position: relative
      // Flat Pics
      .image-canvas
        display: flex
        justify-content: center
        background-color: #f2f2f2
        height: 100%
        overflow: hidden
        .listing-carousel-container
          background: #f2f4f6
          width: 100%
          padding-bottom: 76%
          position: relative
          .listing-carousel
            position: absolute
            top: 0
            bottom: 0
            right: 0
            left: 0
            overflow: hidden
            .carousel-canvas-item
              max-width: 319.09px
        .like-container
          padding: 10px
          position: absolute
          right: 14px
          top: 17px
          background-color: rgba(0, 0, 0, 0.47)
          color: white
          border-radius: 50%
          border: 1px solid #fff
          display: flex
          justify-content: center
          align-items: center
          transition: background-color 0.5s cubic-bezier(0.4, 0, 0, 1.07)
          &:hover
            background-color: #26de81
        .card-img-top
          object-fit: scale-down
        .listing-price
          padding: 10px 15px
          border-radius: 3px
          position: absolute
          left: 0
          bottom: 86px
          background-color: rgba(0, 0, 0, 0.63)
          color: white
          font-size: 14px
      // Card Body
      .card-body
        padding: 10px
        .card-title
          margin-bottom: 0px
          font-size: 16px
          font-weight: 600
        .user-info-container
          height: 91px
          width: 120px
          display: flex
          flex-wrap: wrap
          justify-content: center
          position: absolute
          float: right
          right: 0px
          bottom: 20px
          span
            margin-top: 5px
            font-size: 14px
            font-weight: 700
            color: #3b3b3b
          // User Avatar
          .user-canvas-border
            width: 68px
            height: 68px
            background-color: white
            border-radius: 50%
            display: flex
            justify-content: center
            align-items: center
            transition: background-color 0.5s cubic-bezier(0.4, 0, 0, 1.07)
            &:hover
              background-color: #26de81
              cursor: pointer
            .user-pic
              object-fit: cover
              border-radius: 50%
              max-height: 60px
              max-width: 60px
        .date-info
          font-size: 12px
          font-weight: 500
          color: #939393

@media (max-width: $iphone-width)
  .result-container
    flex-direction: row
    flex-wrap: wrap
    .listing-container
      flex-basis: 100%
