@import "frameworks/navbar"
@import "frameworks/toast-grid"
@import "partials/navbar"
@import "partials/search"
@import "partials/localsettings"
@import "partials/results"

@media(min-width: 767px)
  .left-column
    height: calc(100vh - 63.56px)

// Adjust to Phone Size
@media(max-width: 1020px)
  .site-content
    flex-basis: 100%
    flex-direction: column
    flex-wrap: wrap

.container-fluid
  padding: 0
  .site-content
    display: flex
  .left-column
    flex: 1 1 65%
    overflow: scroll
  .right-column
    overflow: hidden
    flex: 1 1 35%
    background-color: #ccc
    #map
      height: 100%
      width: 100%
