//- Navbar
.d-flex.flex-column.flex-md-row.align-items-center.px-md-4.bg-white.border-bottom.box-shadow.custom-design
  h5.mr-md-auto.custom-home-button Shelter
  nav.my-2.my-md-0.mr-md-3
    a.btn.btn-outline-primary.share-flat-button(href='#') Share your Flat
    a.text-dark.account-button(href='#') Log In
    a.text-dark.account-button(href='#') Sign Up Here
//- /Navbar
