.result-container
  .listing-container
    .card
      .image-canvas
        img.card-img-top(src='assets/Flat-Pics/flatpic1.jpeg', alt='Flat Pic')
      .card-body
        .card-title London
        .user-pic-container
        .date-info May 15 • 1+ Months
  .listing-container
    .card
      .image-canvas
        img.card-img-top(src='assets/Flat-Pics/flatpic2.jpeg', alt='Flat Pic')
      .card-body
        .card-title London
        .user-pic-container
        .date-info June 15 • 1+ Months
