.result-container
  .listing-container
    .card
      .image-canvas
        img.card-img-top(src='assets/Pics/flats/flatpic1.jpeg', alt='Flat Pic')
        .listing-price
          span &#8364 420
        button.btn.like-container
          i.fas.fa-heart.fa-xs
      .card-body
        .card-title London
        .user-info-container
          .user-canvas-border
              img.card-img-top.user-pic(src='assets/Pics/user/user1.jpeg', alt='Flat Pic')
            span Kanye, 40  
        .date-info May 15 • 1+ months
  .listing-container
    .card
      .image-canvas
        img.card-img-top(src='assets/Pics/flats/flatpic2.jpeg', alt='User Pic')
        .listing-price
          span &#8364 720
        button.btn.like-container
          i.fas.fa-heart.fa-xs
      .card-body
        .card-title London
        .user-info-container
          .user-canvas-border
              img.card-img-top.user-pic(src='assets/Pics/user/user2.jpeg', alt='User Pic')
            span Jay Z, 47
        .date-info June 15 • 1+ months
