.result-container
  .listing-container
    .card
      img.card-img-top(src='assets/Flat-Pics/flatpic1.jpeg', alt='Flat Pic')
      .card-body
        .card-title London
        .date-info May 15 • 1+ Months
  .listing-container
    .card
      img.card-img-top(src='assets/Flat-Pics/flatpic1.jpeg', alt='Flat Pic')
      .card-body
        .card-title London
        .date-info May 15 • 1+ Months
