.result-container
  .listing-container
    .card
      .image-canvas
        img.card-img-top(src='assets/Pics/flats/flatpic1.jpeg', alt='Flat Pic')
      .card-body
        .card-title London
        .user-info-container
          .user-canvas-border
            .user-pic-canvas
              //- img.card-img-top.user-pic(src='assets/Pics/user/user1.jpeg', alt='Flat Pic')
        .date-info May 15 • 1+ Months
  .listing-container
    .card
      .image-canvas
        img.card-img-top(src='assets/Pics/flats/flatpic2.jpeg', alt='User Pic')
      .card-body
        .card-title London
        .user-info-container
          .user-canvas-border
            .user-pic-canvas
              //- img.card-img-top.user-pic(src='assets/Pics/user/user2.jpeg', alt='User Pic')
        .date-info June 15 • 1+ Months
